*{
    padding:0;
    margin:0;
}

td input{
    text-align: center;
    width: 96%; 
    margin-left: 1%;  
    border-style: none;
    font-size: 110px;
}

table{
    border-top: 1px solid black;
    border-right:1px solid black ;
    min-width:50%;
    margin-left: 20%;
    margin-right:7.5%;
    border-spacing: 0;
}

td {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 110px;
    height: 110px;
    font-size: 10px;
    text-align: center;
   
}

nav{
    margin-left:7.5%;
    margin-top:1%; 
}
nav a{
    text-decoration:none;
    color:black;
}
nav button{
    font-size:1em;
    line-height:1.875em;
    border-radius:10px;
}
caption{
    font-size: 1.5em;
}
img{
 min-width: 100%;
 min-height: 100%; 
}
@media(max-width: 768px){
    *{margin :0;}
    nav button{
        display:block;
        width:100%;
        margin-bottom: 5px;
    }
    table{
        display:block;
        width:100%;
        margin-left: 0;
        margin-right:0;
    }

}